.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator__screen {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  font-size: 30px;
}
.calculator__screen .operation {
  margin-left: auto;
}
.calculator .wrap {
  border: 2px solid black;

}
.calculator__wrap {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  width: 424px;
}
