.background-night {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
  z-index: -1;
}
.background-night_enabled {
  background-color: rgba(0, 0, 0, 0.9);
}
.background-night__button {
  all: unset;
  position: fixed;
  width: 100px;
  height: 30px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
  top: 30px;
  right: 40px;
  cursor: pointer;
  z-index: 10;
}
